.row .col.s12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
}
.row .col {
    float: left;
    box-sizing: border-box;
    padding: 0 .75rem;
    min-height: 1px;
}
nav {
    color: #fff;
    background-color: #ee6e73;
    width: 100%;
    height: 56px;
    line-height: 56px;
}

ul:not(.browser-default) {
    padding-left: 0;
    list-style-type: none;
}
.right {
    float: right !important;
}
nav ul {
    margin: 0;
}
ul:not(.browser-default) li {
    list-style-type: none;
}
nav ul li {
    transition: background-color .3s;
    float: left;
    padding: 10px;
}

.brand-logo {
  font-size: 250%;
}

table, tbody {
    border-collapse: collapse;
    width: 100%;
}

tbody, table {
    text-align: center;
    width:100%;
}
td, th {
  width: 100%;
  padding: 20px;
}

tr:nth-child(even){background-color: rgb(232, 73, 51);}



.stock {
	width: 250px;
	height: 180px;
	background-color: #CCC;
	position: relative;
	float: left;
	margin: 5px;
  text-align: center;
	transition: box-shadow 0.2s ease;
	&:hover {
		//box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.15);
	}

body {
  background-color: rgb(27, 80, 172);
}
